# Get these from https://www.emailjs.com after creating an account
# Email JS: Add Email Service -> Create Template -> Account -> General (Public Key)

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
